<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    {{!-- Loading stylesheets --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    {{!-- alert for wrong input address --}}
    <div id="invalid-alert" class="alert alert-danger alert-dismissible fade text-center" role="alert">
    <strong>Invalid Address!</strong> Please insert a valid address
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>




    <div class="container" id="sec">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="display-2">
                    Weather App
                </h2>
                <p class="lead">
                    A weather forecast app to find the weather in any part of world.
                </p>
            </div>
            <div class="col-12 mt-5">
                <div class="row text-center">
                    <div class="col-md-8 d-flex mx-auto" id="search-field">
                        <input id="place-name" type="text" class="form-control" placeholder="Enter Place Name">
                        <button id="search-btn" class="btn">
                            <i class="fa fa-search"></i>
                            <svg width="32px" height="32px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading-icon" style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;"><circle cx="50" cy="50" fill="none" ng-attr-stroke="{{config.color}}" ng-attr-stroke-width="{{config.width}}" ng-attr-r="{{config.radius}}" ng-attr-stroke-dasharray="{{config.dasharray}}" stroke="#000000" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform></circle></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- MODAL FOR WEATHER REPORT --}}
    <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin:1.75rem !important;max-width:100%;">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="place"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body" style="overflow:auto;margin: 0px 12px 0px 0px;">
            <div class="row" id="checkboxes"></div>
            <table class="table" style="max-width:100%">
            <thead class="thead-dark">
                <tr id="thead">
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
            </table>
        </div>

        <div class="modal-footer text-center">
            <p class="lead text-center w-100">Thanks for using the weather app !</p>
        </div>
        </div>
    </div>
    </div>


</body>
{{!-- loading js files --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="main.js"></script>
</html>